<div class="row-double-space">
  {%- for block in section.blocks -%}
    {% render block %}
  {%- endfor -%}
</div>

{% schema %}
  {
    "name": "Apps",
    "tag": "section",
    "blocks": [
      {
        "type": "@app"
      }
    ],
    "presets": [
      {
        "name": "Apps"
      }
    ]
  }
{% endschema %}
